{% extends 'base.html.twig' %}


{% block body %}
<link rel="stylesheet" href=" {{ './css/home.css' }}">
<link rel="stylesheet" href=" {{ './css/styles.css' }}">
<div class="tweets-container">
    {% include("./includes/header.html.twig") with {oldlocation, title}%}
    {% include("./includes/displayProfiles.html.twig") with {Users, username}%}
    {% include("./includes/displayTweets.html.twig") with {Tweets, username}%}
</div>
{% endblock %}
